<ngx-dropzone
  (change)="onSelect($event)"
  [multiple]="true"
  accept=".jar,.mrpack,.json,.zip"
  class="important !h-36 !min-h-0 min-w-[25vw] w-full max-w-[calc(100vw-2rem)] overflow-y-clip overflow-x-auto my-4 dark:!border-slate-300 dark:!bg-slate-900 dark:!text-slate-200"
  aria-label="模组文件上传区域"
>
  <ngx-dropzone-label class="p-4">上传你的模组文件</ngx-dropzone-label>
  @for (f of files; track f) {
    <ngx-dropzone-preview
      [removable]="true"
      (removed)="onRemove(f)"
      class="overflow-x-clip bg-gray-100 dark:bg-slate-800 dark:text-slate-200"
      style="background-image: none"
    >
      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
  }
</ngx-dropzone>
