<div class="flex w-full flex-col items-center px-10">
  <app-start-button [loading]="this.loading" (notify)="startUpdateMods()" />

  <div class="mt-4 flex w-full flex-col">
    <div class="w-full">
      @if (loading) {
        <app-loading-indicator [percent]="this.loadingPercent" />
      }
    </div>
    @if (availableMods.length > 0) {
      <section class="space-y-4">
        <div class="flex items-center justify-between space-x-3">
          <p class="text-lg font-bold dark:text-slate-100">
            适用于所选版本的模组
          </p>
          <div class="flex items-center space-x-2">
            <!-- Search Input -->
            <div class="relative">
              <input
                type="text"
                placeholder="搜索结果..."
                class="h-10 w-64 rounded-md pl-10 pr-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-gray-400 dark:bg-slate-800 dark:text-slate-200 dark:ring-slate-500 dark:hover:ring-slate-200"
                [(ngModel)]="searchTerm"
                aria-label="搜索结果"
              />
              <svg
                class="absolute left-3 top-1/2 h-5 w-5 -translate-y-1/2 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </div>

          </div>
        </div>
        @if (primaryMods.length > 0) {
          <app-mod-list
            [mods]="primaryMods"
            [order]="order"
          />
        }
        @if (dependencyMods.length > 0) {
          <p class="pt-4 text-lg font-bold dark:text-slate-100">
            所需的依赖模组
          </p>
          <app-mod-list
            [mods]="dependencyMods"
            [order]="order"
          />
        }
        <div
          class="flex justify-between rounded-lg bg-white px-4 py-2 dark:bg-slate-800 dark:text-slate-300"
        >
          <span class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-5 w-5"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"
              />
            </svg>
            <button
              (click)="showScriptGenerator = true"
              class="flex items-center gap-x-2 rounded-lg bg-white py-1 px-2 hover:underline dark:bg-slate-800 dark:text-slate-200"
            >
              生成脚本
            </button>
          </span>
          <span class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-5 w-5 dark:text-slate-100"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m-6 3.75 3 3m0 0 3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75"
              />
            </svg>
            <button
              (click)="downloadAll()"
              class="flex items-center gap-x-2 rounded-lg bg-white py-1 px-2 hover:underline dark:bg-slate-800 dark:text-slate-200"
            >
              下载所有
            </button>
          </span>
        </div>
      </section>
    }
    @if (unavailableMods.length > 0) {
      <app-mod-info-section
        [title]="'未适配所选版本的模组'"
        [mods]="unavailableMods"
        [type]="'warning'"
      />
    }
    @if (invalidLoaderMods.length > 0) {
      <app-mod-info-section
        [title]="'未适配所选模组加载器的模组'"
        [mods]="invalidLoaderMods"
        [type]="'warning'"
      />
    }
    @if (unresolvedMods.length > 0) {
      <app-mod-info-section
        [title]="'无法获取到的模组'"
        [mods]="unresolvedMods"
        [type]="'error'"
      />
    }
  </div>
</div>

@if (showScriptGenerator) {
  <app-script-generator
    [mods]="availableMods"
    (closeEvent)="showScriptGenerator = false"
  />
}
